<div class="container">
  <h1>Nodejs Mongodb CRUD Updating Data .... </h1>
  <form action="/edit/{{fruit_by_id._id}}" method="POST">
    <input
      type="text"
      name="name"
      placeholder="name"
      value="{{fruit_by_id.name}}"
    />
    <input
      type="text"
      name="value"
      placeholder="value"
      value="{{fruit_by_id.value}}"
    />
    <button>Update name or value</button>
  </form>
</div>